@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Main';
  src: url('./fonts/PPPangaia-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow-x: hidden; /* Prevent horizontal scrolling */
  background-color: #0E172A;
}

nav,
footer {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2em;
  font-size: 14px;
  font-weight: 500;
  font-family: "Circular Std", sans-serif;
  color: #000;
}

nav {
  top: 0;
}

footer {
  bottom: 0;
}

.memories-page {
  background-color: #FFFFFC;
  height: 100vh; /* Ensures it spans the entire viewport */
  width: 100vw;
}

.left-screen,
.right-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 40;
}

.left-screen {
  left: 0;
}

.right-screen {
  right: 0;
}