.galleryContainer {
  position: relative; /* Ensures child elements are positioned relative to this container */
  width: 100vw;
  height: 100vh; /* Full viewport height */
  overflow: hidden;
  background-color: #0e172a; /* Apply blue background here */
}

.item {
  position: absolute;
  padding: 0.5em 0.5em 4em 0.5em;
  width: 250px;
  height: 250px;
  overflow: hidden;
  background: #fff;
  z-index: 2;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}